@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=055afaf3-ec1c-4243-925c-b2ab630d9fc7");
@font-face{
font-family:"UniversLTW01-57Condense 723821";
src:url("https://www.bulldogsolutions.net/MotorolaSolutions/fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot");
src:url("https://www.bulldogsolutions.net/MotorolaSolutions/fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot") format("eot"),url("https://www.bulldogsolutions.net/MotorolaSolutions/fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff") format("woff"),url("https://www.bulldogsolutions.net/MotorolaSolutions/fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf") format("truetype")
}
@font-face{
font-family:"UniversLTW01-67BoldCn";
src:url("https://www.bulldogsolutions.net/MotorolaSolutions/fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot");
src:url("https://www.bulldogsolutions.net/MotorolaSolutions/fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot") format("woff"),url("https://www.bulldogsolutions.net/MotorolaSolutions/fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf") format("truetype")
}