@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=055afaf3-ec1c-4243-925c-b2ab630d9fc7");
@font-face{
    font-family:"UniversLTW01-57Condense 723821";
    src:url("Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix");
    src:url("Fonts/aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix") format("eot"),url("Fonts/1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff") format("woff"),url("Fonts/9b913baf-b1f0-47d2-8c76-42f59650058f.ttf") format("truetype"),url("Fonts/0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670") format("svg");
}
@font-face{
    font-family:"UniversLTW01-67BoldCn";
    src:url("Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix");
    src:url("Fonts/076b8d7a-91b5-4c89-86a1-546b980072c7.eot?#iefix") format("eot"),url("Fonts/21decb60-b395-4de2-bd04-e38eb2a56d2f.woff") format("woff"),url("Fonts/091058d4-36b2-43f6-80d3-16c88e098061.ttf") format("truetype"),url("Fonts/827d22bc-e38b-4ccf-8a21-1f9aaa76e402.svg#827d22bc-e38b-4ccf-8a21-1f9aaa76e402") format("svg");
}